@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", serif;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

.animate-move-left {
  animation: moveLeft 3s infinite alternate;
}

.animate-move-right {
  animation: moveRight 3s infinite alternate;
}

/* Dropdown menu */
.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 12rem;
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 0;
  z-index: 50;
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.2s ease, transform 0.3s ease;
}

.dropdown-container:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Style untuk masing-masing item di dalam dropdown */
.dropdown-item {
  padding: 12px 20px;
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: #ff6632;
  color: white;
  cursor: pointer;
}

/* Animasi pada avatar */
.avatar-image {
  transition: transform 0.3s ease;
}

.avatar-image:hover {
  transform: scale(1.1);
}

.dropdown-btn {
  background: #ff6632;
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  transition: background 0.3s ease;
}

.dropdown-btn:hover {
  background: #ff9966;
}


